<script>
    $(document).ready(function(){
                             
                                        //Education edit delete 
        $('#close_academic').click(function(e){
            e.preventDefault()
            $('.update_academic_info').hide()
        })

        $('.btn-edit').click(function(e){
            e.preventDefault()
            let id= $(this).attr("data-id");
            console.log('Education ID is',id)

            $('#academic_id').val(id)

            $('.update_academic_info').show()
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}

            $.ajax({
                url: "{% url 'fetchacademic' %}",
                method :"POST",
                data:data,

                success: function(data){
                    console.log(data);
                    $('#institution').val(data.institution);
                    $('#year').val(data.year);
                    $('#award').val(data.award);
                }
            })
        })
        $('#save_academic').click(function(e){
            e.preventDefault()
            let id = $('#academic_id').val()
            console.log('Save Education ID is',id)

            $('.update_academic_info').show()
            let institution =$('#institution').val()
            let year =$('#year').val()
            let award =$('#award').val()

            data={id:id, csrfmiddlewaretoken:'{{csrf_token}}', institution:institution, year:year, award:award}

            $.ajax({
                url: "{% url 'update_academic'%}",
                method:"POST",
                data:data,

                success: function(){
                    $('#save_academic_status').html('');
                    $('.update_academic_info').hide()
                    $('#save_academic_status').append('Academic Information Updated Successfully');
                }
            })
        })

        $('.btn-delete').click(function(e){
            e.preventDefault()
            let id = $(this).attr("data-id");
            console.log('Education ID is',id)

            data ={id:id,csrfmiddlewaretoken:'{{csrf_token}}'}

            $.ajax({
                url:"{% url 'delete_academic'%}",
                method:"POST",
                data:data,
                success:function(){
                    $('#save_academic_status').html('');
                    $('#save_academic_status').append('Academic Information Deleted Successfully');


                }
            })
        })

        $('#del_btn').click(function(e){
            e.preventDefault()
            let id= $('#cv_id').val()
            console.log('CV Id is',id)
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}

            $.ajax({
                url:"{% url 'profile-delete' %}",
                method:"POST",
                data:data,

                success:function(){
                    $('#result_result').html('');
                    $('#update_result').append('Profile Deleted Successfully');
                }
            })
        })
                    //Project edit delete 
        $('#close_project').click(function(e){
            e.preventDefault()
            $('.update_project_info').hide()
        })
        
        $('.btn-edit').click(function(e){
            e.preventDefault()
            let id= $(this).attr("data-id");
            console.log('Project ID is',id)
            
            $('#project_id').val(id)
            
            $('.update_project_info').show()
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}
            
            $.ajax({
                url: "{% url 'fetchproject' %}",
                method :"POST",
                data:data,
                success: function(data){
                                console.log(data);
                                $('#projectname').val(data.projectname);
                                $('#description').val(data.description);
                                $('#startdate').val(data.startdate);
                                $('#enddate').val(data.enddate);
                            }
                        })
                    })
                    
                    $('#save_project').click(function(e){
                        e.preventDefault()
                        let id = $('#project_id').val()
                        console.log('Save Project ID is',id)
                        
                        $('.update_project_info').show()
                        let projectname =$('#projectname').val()
                        let description =$('#description').val()
                        let startdate =$('#startdate').val()
                        let enddate =$('#enddate').val()
                        
                        data={id:id, csrfmiddlewaretoken:'{{csrf_token}}', projectname:projectname, description:description, startdate:startdate, enddate:enddate}
            
                        $.ajax({
                            url: "{% url 'update_project'%}",
                            method:"POST",
                            data:data,
            
                            success: function(){
                                $('#save_project_status').html('');
                                $('.update_project_info').hide()
                                $('#save_project_status').append('Project Information Updated Successfully');
                            }
                        })
                    })
            
                    $('.btn-delete').click(function(e){
                        e.preventDefault()
                        let id = $(this).attr("data-id");
                        console.log('Project ID is',id)
            
                        data ={id:id,csrfmiddlewaretoken:'{{csrf_token}}'}
            
                        $.ajax({
                            url:"{% url 'delete_project'%}",
                            method:"POST",
                            data:data,
                            success:function(){
                                $('#save_project_status').html('');
                                $('#save_project_status').append('Project Information Deleted Successfully');
            
            
                            }
                        })
                    })
            
                    $('#del_btn').click(function(e){
                        e.preventDefault()
                        let id= $('#cv_id').val()
                        console.log('CV Id is',id)
                        data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}
            
                        $.ajax({
                            url:"{% url 'profile-delete' %}",
                            method:"POST",
                            data:data,
            
                            success:function(){
                                $('#result_result').html('');
                                $('#update_result').append('Profile Deleted Successfully');
                            }
                        })
                    })
        
                        //Experience edit delete 
        $('#close_experience').click(function(e){
            e.preventDefault()
            $('.update_experience_info').hide()
        })

        $('.btn-edit').click(function(e){
            e.preventDefault()
            let id= $(this).attr("data-id");
            console.log('Experience ID is',id)
            
            $('#experience_id').val(id)
            
            $('.update_experience_info').show()
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}
            
            $.ajax({
                url: "{% url 'fetchexperience' %}",
                method :"POST",
                data:data,

                success: function(data){
                    console.log(data);
                    $('#office').val(data.office);
                    $('#duration').val(data.duration);
                    $('#position').val(data.position);
                }
            })
        })

        $('#save_experience').click(function(e){
            e.preventDefault()
            let id = $('#experience_id').val()
            console.log('Save Experience ID is',id)
            
            $('.update_experience_info').show()
            let office =$('#office').val()
            let duration =$('#duration').val()
            let position =$('#position').val()
            data={id:id, csrfmiddlewaretoken:'{{csrf_token}}', office:office, duration:duration, position:position}

            $.ajax({
                url: "{% url 'update_experience'%}",
                method:"POST",
                data:data,

                success: function(){
                    $('#save_experience_status').html('');
                    $('.update_experience_info').hide()
                    $('#save_experience_status').append('Experience Information Updated Successfully');
                }
            })
        })
        
        $('.btn-delete').click(function(e){
            e.preventDefault()
            let id = $(this).attr("data-id");
            console.log('Experience ID is',id)

            data ={id:id,csrfmiddlewaretoken:'{{csrf_token}}'}

            $.ajax({
                url:"{% url 'delete_experience'%}",
                method:"POST",
                data:data,
                success:function(){
                    $('#save_experience_status').html('');
                    $('#save_experience_status').append('Experience Information Deleted Successfully');
                }
            })
        })
        
        $('#del_btn').click(function(e){
            e.preventDefault()
            let id= $('#cv_id').val()
            console.log('CV Id is',id)
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}
            
            $.ajax({
                url:"{% url 'profile-delete' %}",
                method:"POST",
                data:data,
                 success:function(){
                    $('#result_result').html('');
                    $('#update_result').append('Profile Deleted Successfully');
                }
            })
        })



                                  //Skills edit delete 
        $('#close_skill').click(function(e){
            e.preventDefault()
            $('.update_skill_info').hide()
        })
        $('.btn-edit').click(function(e){
            e.preventDefault()
            let id= $(this).attr("data-id");
            console.log('Skill ID is',id)
            $('#skill_id').val(id)
            $('.update_skill_info').show()
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}
            $.ajax({
                url: "{% url 'fetchskill' %}",
                method :"POST",
                data:data,
                success: function(data){
                    console.log(data);
                    $('#name').val(data.name);
                    $('#level').val(data.level);
                }
            })
        })
        $('#save_skill').click(function(e){
            e.preventDefault()
            let id = $('#skill_id').val()
            console.log('Save Skill ID is',id)
            
            $('.update_skill_info').show()
            let name =$('#name').val()
            let level =$('#level').val()

            data={id:id, csrfmiddlewaretoken:'{{csrf_token}}', name:name, level:level}

            $.ajax({
                url: "{% url 'update_skill'%}",
                method:"POST",
                data:data,

                success: function(){
                    $('#save_skill_status').html('');
                    $('.update_skill_info').hide()
                    $('#save_skill_status').append('Skills Information Updated Successfully');
                }
            })
        })
        $('.btn-delete').click(function(e){
            e.preventDefault()
            let id = $(this).attr("data-id");
            console.log('Skill ID is',id)
            
            data ={id:id,csrfmiddlewaretoken:'{{csrf_token}}'}
            
            $.ajax({
                url:"{% url 'delete_skill'%}",
                method:"POST",
                data:data,
                success:function(){
                    $('#save_skill_status').html('');
                    $('#save_skill_status').append('Skills Information Deleted Successfully');
                }
            })
        })
        
        $('#del_btn').click(function(e){
            e.preventDefault()
            let id= $('#cv_id').val()
            console.log('CV Id is',id)
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}
            $.ajax({
                url:"{% url 'profile-delete' %}",
                method:"POST",
                data:data,
                success:function(){
                    $('#result_result').html('');
                    $('#update_result').append('Profile Deleted Successfully');
                }
            })
        })
        
          //Certificate edit delete 
        $('#close_certificate').click(function(e){
            e.preventDefault()
            $('.update_certificate_info').hide()
        })

        $('.btn-edit').click(function(e){
            e.preventDefault()
            let id= $(this).attr("data-id");
            console.log('Certificate ID is',id)

            $('#certificate_id').val(id)

            $('.update_certificate_info').show()
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}

            $.ajax({
                url: "{% url 'fetchcertificate' %}",
                method :"POST",
                data:data,

                success: function(data){
                    console.log(data);
                    $('#certificate').val(data.certificate);
                    $('#year').val(data.year);
                }
            })
        })
        $('#save_certificate').click(function(e){
            e.preventDefault()
            let id = $('#certificate_id').val()
            console.log('Save certificate ID is',id)

            $('.update_certificate_info').show()
            let certificate =$('#certificate').val()
            let year =$('#year').val()
            

            data={id:id, csrfmiddlewaretoken:'{{csrf_token}}', certificate:certificate, year:year}

            $.ajax({
                url: "{% url 'update_certificate'%}",
                method:"POST",
                data:data,

                success: function(){
                    $('#save_certificate_status').html('');
                    $('.update_certificate_info').hide()
                    $('#save_certificate_status').append('Certificate Information Updated Successfully');
                }
            })
        })

        $('.btn-delete').click(function(e){
            e.preventDefault()
            let id = $(this).attr("data-id");
            console.log('Certificate ID is',id)

            data ={id:id,csrfmiddlewaretoken:'{{csrf_token}}'}

            $.ajax({
                url:"{% url 'delete_certificate'%}",
                method:"POST",
                data:data,
                success:function(){
                    $('#save_certificate_status').html('');
                    $('#save_certificate_status').append('Certificate Information Deleted Successfully');


                }
            })
        })

        $('#del_btn').click(function(e){
            e.preventDefault()
            let id= $('#cv_id').val()
            console.log('CV Id is',id)
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}

            $.ajax({
                url:"{% url 'profile-delete' %}",
                method:"POST",
                data:data,

                success:function(){
                    $('#result_result').html('');
                    $('#update_result').append('Profile Deleted Successfully');
                }
            })
        })
                                        
                                          //Referee edit delete
        $('#close_referee').click(function(e){
            e.preventDefault()
            $('.update_referee_info').hide()
        })

        $('.btn-edit-ref').click(function(e){
            e.preventDefault()
            let id= $(this).attr("data-id");
            console.log('Referee ID is',id)

            $('#referee_id').val(id)

            $('.update_referee_info').show()
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}

            $.ajax({
                url: "{% url 'fetchreferee' %}",
                method :"POST",
                data:data,
                success: function(data){
                    console.log(data);
                    $('#name').val(data.name);
                    $('#email').val(data.email);
                    $('#phone').val(data.phone);
                }
            })
         })
         
        $('#save_referee').click(function(e){
            e.preventDefault()
            let id = $('#referee_id').val()
            console.log('Save Referee ID is',id)
            
            $('.update_referee_info').show()
            let name =$('#name').val()
            let email =$('#email').val()
            let phone =$('#phone').val()

            data={id:id, csrfmiddlewaretoken:'{{csrf_token}}', name:name, email:email, phone:phone}
            
            $.ajax({
                url: "{% url 'update_referee' %}",
                method:"POST",
                data:data,
                
                success: function(){
                    $('#save_referee_status').html('');
                    $('.update_referee_info').hide()
                    $('#save_referee_status').append('Referee Information Updated Successfully');
                }
            })
        })
        
        $('.btn-delete').click(function(e){
            e.preventDefault()
            let id = $(this).attr("data-id");
            console.log('Referee ID is',id)
            data ={id:id,csrfmiddlewaretoken:'{{csrf_token}}'}
            
            $.ajax({
                url:"{% url 'delete_referee'%}",
                method:"POST",
                data:data,
                success:function(){
                    $('#save_referee_status').html('');
                    $('#save_referee_status').append('Referee Information Deleted Successfully');
                }
            })
        })
        
        $('#del_btn').click(function(e){
            e.preventDefault()
            let id= $('#cv_id').val()
            console.log('CV Id is',id)
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}
            
            $.ajax({
                url:"{% url 'profile-delete' %}",
                method:"POST",
                data:data,
                success:function(){
                    $('#result_result').html('');
                    $('#update_result').append('Profile Deleted Successfully');
                }
            })
        })                               

                                //Profile edit delete 
        $('#profile_close').click(function(e){
            e.preventDefault()
            $('#fetch_profile').hide()
        })

        $('#profile_click').click(function(e){
            e.preventDefault()
            $('#fetch_profile').show()

            let id= $('#cv_id').val()
            console.log('CV Id is',id)
            data ={id:id, csrfmiddlewaretoken:'{{csrf_token}}'}

            $.ajax({
                url :"{% url 'fetchprofile'%}",
                method:"POST",
                data:data,

                success:function(data){
                    console.log(data);
                    $('#fname').val(data.fname);
                    $('#mname').val(data.mname);
                    $('#lname').val(data.lname);
                    $('#email').val(data.email);
                    $('#country').val(data.country);
                    $('#region').val(data.region);
                    $('#bio').val(data.bio);
                    $('#phone').val(data.phone);
                    $('#dob').val(data.dob);


             }


            })
        })
        $('#profile_update').click(function(e){
            e.preventDefault();
            console.log('Update button clicked')

            let id = $('#cv_id').val()
            var fname = $('.uform #fname').val();
            var lname = $('.uform #lname').val();
            var mname = $('.uform #mname').val();
            var gender = $('.uform #gender').val();
            var country = $('.uform #country').val();
            var region = $('.uform #region').val();
            var email = $('.uform #email').val();
            var phone = $('.uform #phone').val();
            var occupation = $('.uform #occupation').val();
            var dob = $('.uform #dob').val();
            var bio =$('.uform #bio').val();

            var data = new FormData();
            data.append('file',$("input[id^='file']")[0].files[0])
            data.append('csrfmiddlewaretoken',"{{csrf_token}}")
            data.append('fname',fname);
            data.append('lname',lname);
            data.append('mname',mname);
            data.append('gender',gender);
            data.append('country',country);
            data.append('region',region);
            data.append('email',email);
            data.append('phone',phone);
            data.append('occupation',occupation);
            data.append('dob',dob);
            data.append('bio',bio);
            data.append('id',id);

            $.ajax({
                url:"{% url 'profile-update' %}",
                method:"POST",
                processData:false,
                contentType:false,
                mimeType:"multipart/form-data",
                data:data,
                dataType: 'json',

                beforeSend:function(){
                    $('#loading_spinner').show();
                    $(":input").prop("disable",true);
                    
                },
                
                complete:function(){
                    $('#loading_spinner').hide();
                    $(":input").prop("disable",false);
                },
                success:function(data){
                    $('.uform') [0].reset();
                    $('#result_result').html('');
                    $('#update_result').append('Profile Updated Successfully');
                    $('#fetch_profile').hide()
                }
            }) 


        })

    })
</script>