{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cv_template.css' %}">
</head>                          
<body>
    <h1 class="cv_header">CURRICULUM VITAE(CV)</h1>
    <div class="row" style="width:100%; heigth:100% ; background-color: #c7c792;">
        {% if user_profile %}
        {% for profile in user_profile %}

        {% if profile.avator %}
        <img src="{{profile.avator.url}}" style="width: 15%; height: 15%; margin: 5px 5px 5px 5px;" alt="no image">

        {% else %}

        <img src="{% static 'img/avator.png'%}" style="width:15%; height:15%; margin: 5px 5px 5px 5px;" alt="no image">
        {% endif %}

        <div style="float:right; padding-right:60%;">
            <div class="basic-info">
                <h1>{{profile.fname}} {{profile.mname}} {{profile.lname}}</h1>
                <p>{{profile.occupation}}</p>
                <p>{{profile.country}} {{profile.region}}</p>
                <p>{{profile.email}}, {{profile.phone}}</p>
            </div>

        </div>
    </div>
    <hr class="divider_line" style="color:#242424; border-top:medium double green; margin-top:150px;"/>
    <h1 style="margin: 0; padding-top: 25px;">Biography</h1>
    <p class="bio">{{profile.bio}}</p>

        {% endfor %}
        
        {% endif %}
        <br/>
        <br/>
        <br/>
        <h1 style="margin:0;">Skills</h1> 
        <table class="table" id="table_skill">
            <thead>
                <tr>
                    <th style="background-color: #0087C3; width:10%;">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                </tr>
            </thead>
            <tbody>
                {% if user_skill %}
                {% for skill in user_skill %}
                <tr>
                    <th style="background-color: #0087C3; width:10%;">{{forloop.counter}}</th>
                    <th scope="col">{{skill.s_name}}</th>
                    <th scope="col">{{skill.s_level}}</th>
                </tr>
                
                {% endfor %}
                {% endif %}
            </tbody>

        </table>

        <h1 style="margin:0;">Education</h1>
        <table class="table" id="table_skill">
            <thead>
                <tr>
                    <th style="background-color:#57B223; width:10%;">#</th>
                    <th scope="col">Institution</th>
                    <th scope="col">Year</th>
                    <th scope="col">Award</th>
                </tr>
            </thead>
            <tbody>
                {% if user_education %}
                {% for educa in user_education %}
                <tr>
                    <th style="background-color: #57B223; width:10%;">{{forloop.counter}}</th>
                    <th scope="col">{{educa.a_institution}}</th>
                    <th scope="col">{{educa.a_year}}</th>
                    <th scope="col">{{educa.a_award}}</th>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <h1 style="margin:0;">Experience /Internship </h1>
        <table class="table" id="table_skill">
            <thead>
                <tr>
                    <th style="background-color:#57B223; width:10%;">#</th>
                    <th scope="col">Office</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Position</th>
                </tr>
            </thead>
            <tbody>
                {% if user_experience %}
                {% for exper in user_experience %}
                <tr>
                    <th style="background-color: #57B223; width:10%;">{{forloop.counter}}</th>
                    <th scope="col">{{exper.e_office}}</th>
                    <th scope="col">{{exper.e_duration}}</th>
                    <th scope="col">{{exper.e_position}}</th>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <h1 style="margin:0;">Project</h1>
        <table class="table" id="table_skill">
            <thead>
                <tr>
                    <th style="background-color:#57B223; width:10%;">#</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                </tr>
            </thead>
            <tbody>
                {% if user_project %}
                {% for proje in user_project %}
                <tr>
                    <th style="background-color: #57B223; width:10%;">{{forloop.counter}}</th>
                    <th scope="col">{{proje.p_projectname}}</th>
                    <th scope="col">{{proje.p_description}}</th>
                    <th scope="col">{{proje.p_startdate}}</th>
                    <th scope="col">{{proje.p_enddate}}</th>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <h1 style="margin:0;">Referees</h1> 
        <table class="table" id="table_skill">
            <thead>
                <tr>
                    <th style="background-color: #0087C3;">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>

                </tr>
            </thead>
            <tbody>
                {% if user_referee %}
                {% for ref in user_referee %}
                <tr>
                    <th style="background-color:#0087C3;">{{forloop.counter}}</th>
                    <th scope="col">{{ref.r_name}}</th>
                    <th scope="col">{{ref.r_email}}</th>
                    <th scope="col">{{ref.r_phone}}</th>
                </tr> 
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <p style="padding-bottom: 150px;"></p>
</body>
</html>